body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  border: solid darkcyan 3px;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigIcon {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.bigIcon:active {
  animation: clickScale 0.2s ease-in-out;
}

.textContainer {
  width: 18rem;
  margin: auto;
}

/* Animations */

@keyframes clickScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
