body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  border: solid darkcyan 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-shadow: 2px 4px 8px #007272;
}

.padding {
  padding: 1rem;
  text-align: center;
}

.height {
  height: 30rem;
  overflow: auto;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.coinCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: dotted darkcyan 3px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.coinCardColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.coinImg {
  height: 5rem;
  width: 5rem;
}

.bigIcon {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.bigIcon:active {
  animation: clickScale 0.2s ease-in-out;
}

.textContainer {
  width: 18rem;
  margin: auto;
}

/* Senters everything in one column  */
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Animations */

@keyframes clickScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
